:root {
    --dark-background-color: #000913;
    --dark-neutral-text-color: #fff;
    --dark-gray-text-color: rgb(202, 202, 202);
    --light-neutral-text-color: #000;
    --seriffont: "beaufort-pro", serif;
    --sans-font: "open-sans", sans-serif;
    --dark-line-color: rgba(255, 255, 255, 0.2);

    /* notched corner */
    --filter-background-color: white;
    --notched-border-width: .075em;
    --notched-border-color: #C1C1C1;
    --edge-size: 1em;

/*    loading icon*/
    --loader-color: #fff;
    --loader-wheel-color: #000;
}

html {
    /*eventjes een comment uit frustratie, maar zonder width 100vw, kan je op mobile een klein beetje naar rechts scrollen 🤯🤯*/
    /*overflow-y: auto !important;*/
}


body {
    /*padding: 1rem;*/
    font: 14px var(--sans-font)
}

html, body {
    width: 100%;
    overflow-x: hidden;
    /*margin: 0 !important;*/
    /*padding: 0 !important;*/
}

a {
    color: #00B7FF;
}

:root {
    --padding-button: 18px;
}

.userForm {
    padding-top: 1rem;
    transition: animation 0.5s;
}

.is-invalid {
    /*shake animation*/
    animation: error .5s;

}

html {
    /*max-width: 90rem;*/
    box-sizing: border-box;
    margin: 0 auto;
}


/*component user search bar*/
.userForm {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 35rem;
    margin: 0 auto;
}


/*
 *   Remove double break and random elements
*/


/*
* searchbar
*/

.c-searchBar {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
}

.c-searchBar__query {
    width: 100%;
    height: 2.8rem;
    background: transparent;
    outline: none;
    border: none;
    padding: 0 3.5rem 0 1.5rem;
    font-size: 1rem;
}

.c-searchBar__submit {
    position: absolute;
    width: 3.5rem;
    height: 2.8rem;
    right: 0;
    background: none;
    border: none;
    outline: none;
}

.c-searchBar__region {
    position: absolute;
    width: 3.5rem;
    height: 2.8rem;
    right: 3.5rem;
    background: none;
    border: none;
    outline: none;
    /* isolate z-index */
    isolation: isolate;

}

:where(.c-searchBar__submit, .c-searchBar__region):hover {
    cursor: pointer;
}


.c-searchBar.c-form-valid {
    --notched-border-color: green;
    --notched-border-width: .15em;
}

.c-searchBar__search-icon {
    opacity: 1;
    transition: rotate 500ms ease, opacity 500ms ease;
}

.c-searchBar__valid {
    opacity: 0;
    position: relative;
    top: -42px;
    z-index: 2;
    transition: rotate 500ms ease, opacity 500ms ease;

}

.c-searchBar__submit svg {
    display: block;
    padding: 9px;
    fill: #666;
}


.c-form-valid .c-searchBar__valid {
    rotate: 360deg;
    /*animation-fill-mode: forwards;*/
    opacity: 1;
}

.c-form-valid .c-searchBar__search-icon {
    rotate: 360deg;
    /*animation-fill-mode: forwards;*/
    opacity: 0;
}


.c-ability-description br:nth-child(3n + 3) {
    display: none;
}

/*For white theme*/
/*.c-ability-description * {*/
/*    color: var(--dark-neutral-text-color);*/
/*}*/


.c-container {
    margin: 0 auto;
    display: grid;
    max-width: 90rem;
    gap: 1.5rem;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    padding: 0 1rem;

}

@media (max-width: 576px) {
    .c-container {
        grid-template-columns: 50% 50%;
        gap: 1rem;
        max-width: calc(100vw - 1rem)
    }

    .c-card {
        /*max-width: 45vw;*/
    }
}


.c-card {
    background: var(--dark-background-color);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: grid;
    /*grid-template-rows: auto 1fr auto;*/
    cursor: pointer;

    /*max-width: 18.875rem;*/
}

.c-card__body {
    padding: 0 .5rem;
    margin-top: -4px;
    margin-bottom: .5rem;
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    font-size: .7rem;
}


.c-card__winrate {
    position: absolute;
    top: -2.5em;
    right: .5rem;
}

.c-card__kda {
    display: inline;
    margin: 0;
    padding: 0;
    color: #707070;
}

.c-card__played {
    display: inline;
    margin: 0;
    padding: 0;
    color: #707070;

}

.c-card__title {
    color: var(--dark-neutral-text-color);
    letter-spacing: .08rem;
    padding: 0 .5rem;
    margin: .5rem 0;
    font-size: 1rem;
    max-width: 80%;
}

.c-card__img {
    width: 100%;
    /*aspect-ratio: 3/4;*/
    padding: 0;
    margin: 0;
    border-radius: 5px 0 0 5px;
}


.js-champ-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    aspect-ratio: 1/1;
    border-radius: 5px 5px 0 0;

}


/* create a popup card that is scrollable */
.c-popup {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 100vh;
    background: #000913;
    z-index: 100;
    overflow-y: auto;
    overflow-x: hidden;
}



.c-popup__container{
    padding: 0;
    margin: 0;
}

.c-popup__content {
    margin: 0 1rem;
    padding: 0;
}



.c-popup__close{
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 3rem;
    margin: .5rem;
    z-index: 1000;
    fill: white;
}

.c-popup p{
    font-size: 1rem;
    line-height: 1.2;
    /*padding: 0 1rem;*/
    font-family: var(--sans-font);
    color: var(--dark-neutral-text-color);
}

.c-popup h2{
    font-size: 2.75rem;
    font-family: var(--seriffont);
    font-weight: 700;
    text-transform: uppercase;
    font-style: italic;
    margin-top: 0;
    margin-bottom: 1rem;
    color: var(--dark-neutral-text-color);
}

.c-popup h3{
    font-family: var(--seriffont);
    font-weight: 700;
    text-transform: uppercase;
    color: var(--dark-neutral-text-color);
}
.c-popup h4{
    color: var(--dark-neutral-text-color);
    font-size: .75rem;
    font-family: var(--seriffont);
    font-weight: 400;
    text-transform: uppercase;
}

.c-popup__close--svg-container{
    cursor: pointer;
}


.c-popup__close svg{
    padding: .5rem;

}

.c-popup__header {
    position: relative;
}

.c-popup__champ--img {
    object-fit: cover;
    top: 0;
    z-index: -1;
    width: 100%;
    aspect-ratio: 16/9;
    padding: 0;
    margin: 0;
}

.c-champ__title {
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translatex(-50%);
    font-family: var(--seriffont);
    font-weight: 700;
    font-style: italic;
    text-transform: uppercase;
    letter-spacing: .2rem;
    text-align: center;
    width: 90vw;
}

.c-popup__champ--name {
    /*color: #67471f;*/
    color: white;
    font-size: 2.5rem;
    line-height: 1;
    text-shadow: 0 0 .31em black;
}

.c-popup__champ--description {
    color: rgba(255, 255, 255, 0.9);
    text-shadow: 0 0 .31em black;
    font-size: .9rem;
    line-height: 1.5;
}

.c-popup .u-notched-border {
    --filter-background-color: #000913;
    --notched-border-color: white;
}


.c-popup__match-history{
}

/* region loading icon */
.c-loader{
    border: 8px solid var(--loader-wheel-color); /* Light grey */
    border-right: 8px solid var(--loader-color); /* Blue */
    border-radius: 50%;
    width: 80px;
    height: 80px;
    animation: spin 1s cubic-bezier(.79,.14,.15,.86) infinite
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* endregion */

@media (min-width: 576px) {
    .c-popup {
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        min-width: 80vw;
        max-height: 90vh;
        /*min-height: unset;*/
    }
    /* darken the page when popup is shown*/
    .c-popup__overlay {
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
        z-index: 99;
    }
    .c-popup__content {
        padding: 0;
        margin: 0;
    }
    .c-popup h2{
        font-size: 3.75rem;
    }

    .c-popup__champ--description {
        font-size: 2rem;
        line-height: 1.5;
        text-shadow: 0 0 10px black;
    }
    .c-popup__champ--name {
        font-size: 7rem;
        text-shadow: 0 0 10px black;
    }

    .c-card__body {
        font-size: 1rem;
        padding: 0 1rem;
        margin-bottom: 1rem;
        /*margin-top: .5rem;*/
        margin-top: -8px;
    }
    .c-card__title{
        font-size: 1.2rem;
        padding: 0 1rem;
        margin: 1rem 0;
    }
    .c-card__winrate{
        top: -3em;
        right: 1rem;
    }
}

.c-row {
    border-bottom: 1px solid var(--dark-line-color);
    padding: 1rem 0;
}


.c-row__abilities {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;

}

@media (min-width: 576px) {
    .c-row__abilities {
        flex-wrap: nowrap;
        justify-content: space-between;
        padding: 3.75rem 1rem;
    }
}


.c-row__lore {
    flex-basis: 50%;
    font-weight: normal;
    border-left: 1px solid var(--dark-line-color);
    display: flex;
    align-items: center;
    justify-content: center;
}


.c-row__lore--text {
    max-width: 30rem;
}

.c-row__role {
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.c-row__role--icon {
    width: 4rem;
    height: 4rem;
    fill: #D0A85C;
}

.c-role__box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;

}

.c-row__role--tag {
    color: #D0A85C;
    font-size: .8rem;
    text-transform: uppercase;
    font-family: var(--sans-font);
    margin-top: 10px;
}

.c-row__role--roles {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2rem;


}

.c-row__role--name {
    font-size: 1.25rem;
    text-transform: uppercase;
    font-family: var(--sans-font);
}


@media (max-width: 576px) {
    .c-row__lore--text {
        max-width: 100%;
        padding-top: 1rem;
        border-top: 1px solid var(--dark-line-color);
    }

    .c-row__lore {
        border-left: none;

    }
}


.c-popup__abilities {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 1rem;
    border-bottom: 1px solid var(--dark-line-color);
}

.c-popup__abilities--text-container {
    flex-grow: 2;
    flex-shrink: 1;
    flex-basis: 120%;
    display: flex;
}


.c-abilities_video {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
    position: relative;
}

.c-abilities__text {
    flex-basis: 55%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

}

.c-abilities_video video {
    width: 100%;
    aspect-ratio: 16/9;
    object-fit: cover;
    border-radius: 5px;
}



.c-abilities__icon-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    gap: 1rem;
}



.c-abilities__description {
    font-size: 1rem;
    color: var(--dark-neutral-text-color)
}


.c-abilities__description h4 {
    color: var(--dark-neutral-text-color);
    font-size: .75rem;
    font-family: var(--seriffont);
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 0;
}

.c-abilities__description h3 {
    margin-top: 0;
    margin-bottom: 1rem;
}

.c-abilities__description p {
    font-family: var(--sans-font);
    margin: 1rem 0;
}

.c-abilities__icon {

    aspect-ratio: 1/1;
    max-width: 100%;
}
.c-abilities__img-container{
    transition: transform .2s ease-in-out;
    position: relative;
}
.c-abilities__icon__border{
    position: absolute;
    stroke: #D0A85C;
    stroke-width: 2px;
    fill: transparent;
    inset: -6px;
}
.c-abilities__icon__border path{
    stroke: #D0A85C;
    stroke-width: 2px;
    fill: transparent;
    inset: -6px;
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: dash 2s ease-in-out forwards;

}

@keyframes dash {
    to {
        stroke-dashoffset: 0;
    }
}


.c-abilities__icon:first-child {
    /*padding-left: 0;*/
}

.c-abilities__img-container:hover {
    transform: translateY(-5px);
}

.c-abilities__icon-container .u-selected-icon {
    transform: translateY(-10px);
}

@media (min-width: 576px){



    .c-abilities_video{
        padding: 0 1rem;
        margin: 3rem 0;
    }
    .c-abilities__icon-container {
        justify-content: flex-start;
    }
    .c-popup__abilities {
        padding: 0 2rem;
        flex-wrap: nowrap;
    }
    .c-abilities__text {
        padding: 0 1rem;
        margin-top: 1rem;
    }
    .c-abilities__icon {
        /*padding: 12px;*/
    }
    .c-abilities__img-container:first-child .c-abilities__icon{
        /*padding-left: 0;*/
    }

}

/* region statistics*/
.c-match-card__container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    gap: 1rem;
}
.c-match-card__container span{
    color: var(--dark-neutral-text-color);
}


.c-match-card{
    display: flex;
    flex-direction: column;
}
.c-match-card__header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
    align-items: center;
    padding: 1rem;
    --notched-border-color: var(--dark-line-color) !important;
    --notched-border-width: .1em !important;
}

.c-match-card__header--metadata{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.c-match-card__header--metadata :where(h3, p){
    margin: 0;
}

.c-match-card__header--summoners-runes-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}
.c-match-card__header--summoners-runes-container img:nth-child(odd){
    grid-row: 1;
}
.c-match-card__header--summoners-runes-container img:nth-child(even){
    grid-row: 2;
}



.c-match-card__header--champ{
    position: relative;
}

.c-match-card__header--champ img{
    width: 4rem;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 5px;
}
.c-match-card__header--champ span{
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 0 5px;
    background-color: #000913;
}

.c-match-card__header--summoners-runes-container img{
    width: 2rem;
    aspect-ratio: 1/1;
    object-fit: contain;
}

.c-match-card__header--result{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.c-match-card__header--result p{
    margin: 0;
}
.c-match-card__header--items{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 4px;
}

.c-match-card__header--items img{
    width: 2rem;
    aspect-ratio: 1/1;
    object-fit: contain;
}


.c-match-card__header--items img:nth-child(odd){
    grid-row: 1;
}
.c-match-card__header--items img:nth-child(even){
    grid-row: 2;
}

/* endregion */



/* Filter bar*/

.c-filter-by-class {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 90rem;
    margin: 0 auto 1rem;

}

.c-filter__classes {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0 1rem;
    gap: 1rem;
    user-select: none;
    overflow: auto;
}


.c-filter__class {
    position: relative;
    list-style: none;
    cursor: pointer;
    transition: all .2s ease-in-out;
    padding: 1rem 0;
}

.c-filter__class:where(:hover, :focus, .u-selected) {
    color: var(--light-neutral-text-color);
    outline: none;
}

.c-filter__class::after {
    content: "";
    position: absolute;
    bottom: 1px;
    background: #C2902D;
    height: 3px;
    width: 0%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    transition: width .2s ease-in-out;
}


/*line on hover*/
.c-filter__class:where(:hover, :focus)::after {
    width: 30%;
}

.c-filter__class:active::after {
    width: 60%;
}

.c-filter__class:where(.u-selected)::after {
    width: 120%;
}

/* utilities */
.u-gray-text {
    color: var(--dark-gray-text-color);
}

.u-uppercase {
    text-transform: uppercase;
}

.u-italic {
    font-style: italic;
}

.u-notched-border {

    position: relative;
    isolation: isolate;
    /*padding: .5em 1.5em;*/
    border: 0;
    background: var(--filter-background-color);
    clip-path: polygon(
        /*top left 2*/ var(--edge-size) 0,
                /*top right*/ 100% 0,
                /*bottom 1*/ 100% calc(100% - var(--edge-size)),
                /* bottom-right 2*/ calc(100% - var(--edge-size)) 100%,
                /* bottom left */ 0 100%,
                /* top left  1*/ 0 var(--edge-size));
    transition: clip-path 250ms ease-in-out;
}

.u-notched-border::before,
.u-notched-border::after {
    content: "";
    position: absolute;
    /*shorthand of top, right, ...*/
    inset: 0;
}

.u-notched-border::before {
    transition: background-color .5s;
    background: var(--notched-border-color);
    z-index: -2;
}

.u-notched-border::after {
    transition: clip-path .5s ease;
    background: var(--filter-background-color);
    z-index: -1;
    clip-path: polygon(
        /*top left 2*/ calc(var(--edge-size) + var(--notched-border-width) * .25) var(--notched-border-width),
                /*top right*/ calc(100% - var(--notched-border-width)) var(--notched-border-width),
                /*bottom 1*/ calc(100% - var(--notched-border-width)) calc(100% - calc(var(--edge-size) + var(--notched-border-width) * .25)),
                /* bottom-right 2*/ calc(100% - calc(var(--edge-size) + var(--notched-border-width) * .25)) calc(100% - var(--notched-border-width)),
                /* bottom left */ var(--notched-border-width) calc(100% - var(--notched-border-width)),
                /* top left  1*/ var(--notched-border-width) calc(var(--edge-size) + var(--notched-border-width) * .25)
    );
}

.u-notched-content {
    /*background: var(--filter-background-color);*/
    --notched-edge-size: 1.5rem;
    clip-path: polygon(calc(100% - var(--notched-edge-size)) 0%, 100% var(--notched-edge-size), 100% 100%, 0 100%, 0 0);
    transition: clip-path .5s;
}

.u-notched-content:hover {
    clip-path: polygon(100% 0%, 100% 0, 100% 100%, 0 100%, 0 0);
}

.u-notched-to-square:where(:hover, :focus-visible).u-notched-border{
    clip-path: polygon(
        /*top left 2*/ 0 0,
        /*top right*/ 100% 0,
        /*bottom 1*/ 100% 100% ,
        /* bottom-right 2*/100%  100%,
        /* bottom left */ 0 100%,
        /* top left  1*/ 0 0) !important;
}
.u-notched-to-square:where(:hover, :focus-visible).u-notched-border::after {
    clip-path: polygon(
        /*top left 2*/      var(--notched-border-width) var(--notched-border-width),
        /*top right*/       calc(100% - var(--notched-border-width)) var(--notched-border-width),
        /*bottom 1*/        calc(100% - var(--notched-border-width)) calc(100% - var(--notched-border-width)) ,
        /* bottom-right 2*/ calc(100% - var(--notched-border-width)) calc(100% - var(--notched-border-width)),
        /* bottom left */   var(--notched-border-width) calc(100% - var(--notched-border-width)),
        /* top left  1*/    var(--notched-border-width) var(--notched-border-width));
    /*margin: 1px;*/
}

.u-hidden {
    display: none;
}



.u-serif {
    font-family: var(--seriffont);
}

.u-sans {
    font-family: var(--sans-font);
}

.u-fs-small {
    font-size: 0.8rem;
}

.u-negative-color {
    color: #ff4e50 !important;
}

.u-positive-color {
    color: green !important;
}

.u-mt-md {
    margin-top: 1rem;
}

.u-center {
    margin-left: auto;
    margin-right: auto;
}

.u-mb-lg{
    margin-bottom: 5rem;
}

.u-mg-md{
    margin: 1rem;
}



@media (max-width: 576px) {
    .u-1-of-1-bp-1 {
        flex-basis: 100%;
    }
    .u-center{
        margin-left: .5rem;
        margin-right: .5rem;
    }

}

@media (min-width: 576px) {
    .u-side-fill {
        flex-grow: 1;
        flex-shrink: 1;
        flex-basis: auto;
    }
}

@keyframes error {

    5% {
        padding-left: calc(var(--padding-button) - 8px);
        padding-right: calc(var(--padding-button) + 8px);
    }
    10% {
        padding-left: calc(var(--padding-button) + 7px);
        padding-right: calc(var(--padding-button) - 7px);
    }
    20% {
        padding-left: calc(var(--padding-button) - 6px);
        padding-right: calc(var(--padding-button) + 6px);
    }
    30% {
        padding-left: calc(var(--padding-button) + 5px);
        padding-right: calc(var(--padding-button) - 5px);
    }
    40% {
        padding-left: calc(var(--padding-button) - 4px);
        padding-right: calc(var(--padding-button) + 4px);
    }
    50% {
        padding-left: calc(var(--padding-button) + 3px);
        padding-right: calc(var(--padding-button) - 3px);
    }
    60% {
        padding-left: calc(var(--padding-button) - 2px);
        padding-right: calc(var(--padding-button) + 2px);
    }
    70% {
        padding-left: calc(var(--padding-button) + 1px);
        padding-right: calc(var(--padding-button) - 1px);
    }
    80% {
        padding-left: var(--padding-button);
        padding-right: var(--padding-button);
    }
}