body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}

:root {
    --padding-button: 18px;
}

.userForm {
    transition: animation 0.5s;
}

.is-invalid {
    /*shake animation*/
    animation: error .5s;

}

html {
    /*max-width: 90rem;*/
    box-sizing: border-box;
    margin: 0 auto;
}


.c-container {
    margin: 0 auto;
    display: grid;
    width: 100%;
    grid-column-gap: 36px;
    grid-row-gap: 36px;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

}


.c-card {
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: grid;
    grid-template-rows: auto 1fr auto;

    /*max-width: 18.875rem;*/
}

.c-card__body {
    padding: 0 1rem;
    margin-top: 0;
}

.c-card__body p {
    color: #707070;
}

.c-card__body p:first-child {
    margin-top: 0;
}

.c-card__title {
    padding: 0 1rem;
    margin: 1rem 0;
}

.c-card__img {
    width: 100%;
    padding: 0;
    margin: 0;
    border-radius: 5px 0 0 5px;
}


.js-champ-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    aspect-ratio: 1/1;
    border-radius: 5px 5px 0 0;

}

/* create a popup card that is scrollable */
.c-popup {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    min-width: 68vw;
    max-height: 80vh;
    /*center this item*/
    background: white;
    z-index: 100;
    overflow: auto;
}

/* darken the page when popup is shown*/
.c-popup__overlay {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 99;
}

.c-popup__content {
    padding: 0;
    margin: 0;
}

.c-popup__header {
    position: relative;
}

.c-popup__champ--img {
    object-fit: cover;
    top: 0;
    z-index: -1;
    width: 100%;
    aspect-ratio: 16/9;
    padding: 0;
    margin: 0;
}

.c-champ__title {
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translatex(-50%);
    font-family: 'beaufort-pro', serif;
    font-weight: 700;
    font-style: italic;
    text-transform: uppercase;
    letter-spacing: .2rem;
    text-align: center;
}

.c-popup__champ--name {
    color: #67471f;
    font-size: 7rem;
    line-height: 1;
    text-shadow: 0 0 10px black;
}

.c-popup__champ--description {
    color: #c4b998;

    font-size: 2rem;
    line-height: 1.5;
}

.c-row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #707070;
    padding: 3.75rem 1rem;
}

.c-row__lore{
    flex-basis: 65%;
    font-size:  1.25rem;
    line-height: 1.2;
    font-family: "open-sans", sans-serif;
    color: #707070;
    font-weight: normal;
    padding-left: 2rem;
    border-left: 1px solid #707070;
}
.c-row__role{
    flex-basis: 35%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.c-row__role--icon{
    width: 2.5rem;
    height: 2.5rem;
    fill: #D0A85C;
}
.c-role__box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;

}

.c-row__role--tag{
    color: #D0A85C;
    font-size: 1.25rem;
    text-transform: uppercase;
    font-family: "open-sans", sans-serif;
}

.c-row__role--roles{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2rem;


}

.c-row__role--name {
    font-size: 1.25rem;
    text-transform: uppercase;
    font-family: "open-sans", sans-serif;
}

/* utilities */
.u-hidden {
    display: none;
}


@keyframes error {

    5% {
        padding-left: calc(var(--padding-button) - 8px);
        padding-right: calc(var(--padding-button) + 8px);
    }
    10% {
        padding-left: calc(var(--padding-button) + 7px);
        padding-right: calc(var(--padding-button) - 7px);
    }
    20% {
        padding-left: calc(var(--padding-button) - 6px);
        padding-right: calc(var(--padding-button) + 6px);
    }
    30% {
        padding-left: calc(var(--padding-button) + 5px);
        padding-right: calc(var(--padding-button) - 5px);
    }
    40% {
        padding-left: calc(var(--padding-button) - 4px);
        padding-right: calc(var(--padding-button) + 4px);
    }
    50% {
        padding-left: calc(var(--padding-button) + 3px);
        padding-right: calc(var(--padding-button) - 3px);
    }
    60% {
        padding-left: calc(var(--padding-button) - 2px);
        padding-right: calc(var(--padding-button) + 2px);
    }
    70% {
        padding-left: calc(var(--padding-button) + 1px);
        padding-right: calc(var(--padding-button) - 1px);
    }
    80% {
        padding-left: var(--padding-button);
        padding-right: var(--padding-button);
    }
}