:root, :root::after, :root::before {
  /*colors*/
  --primary-background-color: white;
  --primary-text-color: black;
  --dark-background-color: hsl(212, 100%, 4%);
  --secondary-background-color: hsl(212, 100%, 6%);
  --dark-neutral-text-color: #fff;
  --dark-gray-text-color: rgb(202, 202, 202);
  --dark-gray-text-color-6: #808080;
  --light-neutral-text-color: #000;
  --seriffont: "beaufort-pro", serif;
  --sans-font: "open-sans", sans-serif;
  --dark-line-color: rgba(255, 255, 255, 0.2);
  --primary-color: #D0A85C;
  --negative-color: #d93d51;
  --positive-color: #008000;
  --blue-team-color: #5383E8;

  --solid-line-color: #cccccc;
  --solid-line-color-hover: #999999;

  /*font-sizes*/
  --global-fz-1: .7rem;
  --global-fz-2: .75rem;
  --global-fz-3: .8rem;
  --global-fz-4: .9rem;
  --global-fz-5: 1rem;
  --global-fz-6: 1.2rem;
  --global-fz-7: 1.5rem;
  --global-fz-8: 2.5rem;
  --global-fz-9: 3.75rem;
  --global-fz-10: 7rem;



  /*shadows*/
  --global-shadow: 0 4px 8px rgba(0, 0, 0 ,.3);
  --global-text-shadow-sm: 0 0 10px black;
  --global-text-shadow-lg: 0 0 .31em black;


  /* notched corner */
  --notched-border-background-color: white;
  --notched-border-width: .075em;
  --notched-border-color: #C1C1C1;
  --notched-border-edge-size: 1em;

  /*    loading icon*/
  --loader-color: #fff;
  --loader-wheel-color: var(--dark-background-color);

  /* borders    */
  --global-border: 1px solid var(--dark-line-color);
  --global-focus-color: #00B7FF;

  --global-whitespace-1: .5rem;
  --global-baseline: var(--global-whitespace-1);
  --global-whitespace-2: calc(var(--global-whitespace-1) * 2);
  --global-whitespace-3: calc(var(--global-whitespace-1) * 3);
  --global-whitespace-4: calc(var(--global-whitespace-1) * 4);
  --global-whitespace-5: calc(var(--global-whitespace-1) * 5);
  --global-whitespace-6: calc(var(--global-whitespace-1) * 6);


  /* mouse stuff*/
  --mouse-pos-x: 50%;
  --mouse-pos-y: 50%;
}