.cardContainer{
    filter: drop-shadow(var(--global-shadow));
    cursor: pointer;
    text-decoration: none;
}

.cardContainer:where(:hover, :focus-within, :active) .c-card__img {
    transform: scale(1.1);
}

.cardContainer:where(:hover, :focus-within, :active) .c-card__title {
    transform: translateX(1.5%);
}

.cardContainer:focus-visible{
    outline: 4px solid var(--global-focus-color);
}
.cardContainer:focus-visible .card{
    clip-path: none;
}
.imageContainer{
    height: 100%;
    overflow: hidden;
}

.card{
    background: var(--secondary-background-color);
    display: grid;
    cursor: pointer;
    height: 100%;
}