.cardContainer{
    filter: drop-shadow(var(--global-shadow));
    cursor: pointer;
    text-decoration: none;
}

.cardContainer:where(:hover, :focus-within, :active) .cardImage {
    transform: scale(1.1);
}

.cardContainer:where(:hover, :focus-within, :active) .cardTitle {
    transform: translateX(1.5%);
}

.cardContainer:focus-visible{
    outline: 4px solid var(--global-focus-color);
}
.cardContainer:focus-visible .card{
    clip-path: none;
}
.imageContainer{
    height: 100%;
    overflow: hidden;
    aspect-ratio: 1/1;
}

.card{
    background: var(--secondary-background-color);
    display: grid;
    cursor: pointer;
    height: 100%;
}
.cardImage{
    transition: transform 250ms, visibility 250ms ease-in;
    transform-origin: 50% 50% ;
    display: inline-block;
    object-fit: cover  ;
}

.cardTitle {
    color: white;
    letter-spacing: .08rem;
    padding: 0 .5rem;
    margin: .5rem 0;
    font-size: 1rem;
    max-width: 80%;
    transition: transform 250ms ease;
    transform-origin: left;
    font-family: beaufort-pro, serif;
    font-weight: 700;
    font-style: italic;
    text-transform: uppercase;
    padding-inline: 1rem;
    margin-block: 1rem;
/*    adobe fonts font*/
}